:root {
  --black: #000000;
  --white: #ffffff;
  --hash:#808080;
  --gray: #f3f7fa;
  --red: #ec3629;
  --background-color: var(--white);
  --text-color: var(--black);
  --font-reg: "Montserrat", sans-serif;
  --card-shadow: 0px 0px 15px #00000018;
  --card-gradient: linear-gradient(#312f2f,#000000);
}

::selection{
    color: var(--white);
    background: var(--red);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0px;
  font-size: 18px;
  line-height: 24px;
}

a {
  margin: 0px;
  text-decoration: none;
}

body {
  padding: 0px;
  margin: 0px;
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-reg);
  height: 100vh;
  min-height: 800px;
  position: relative;
  overflow-x: hidden;
}

header {
  height: 80px;
  padding-top: 30px;
  justify-content: space-between;

  h1 {
    font-weight: 300;
    font-size: 42px;
    margin: auto 0px;
    color: gray;
  }
}

input {
    height: 40px;
    width: 200px;
    margin: auto 0px;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 0px 25px;
    background: var(--gray);
    font-family: var(--font-reg);

    &:focus {
      border: none;
      outline: none;
    }
}

nav{
  margin-top: 60px;
  p{
        transition: 0.5s;
        margin-right: 80px;
        font-weight: 400;
        color: var(--hash);
        opacity: 0.5;
        cursor: pointer;

        &.active{
            font-weight: 700;
            opacity: 1;
            color: var(--text-color);
            cursor: default;
        }
    }
}