.container {
  margin-left: 50px;
  margin-right: 50px;
}

.flex {
  display: flex;
}

.mini-dash {
  height: 1px;
  width: 60px;
  background: var(--hash);
  margin-top: 10px;
  opacity: 0.5;
}

.slider-container {
  display: flex;
  flex-wrap: nowrap;
  height: calc(100vh - 305px);
  min-height: calc(800px - 305px);
  overflow-x: scroll;
  overflow-y: visible;
  transition: ease 0.5s;
  position: relative;

  // To make scroll invisible
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome */
  }

  .card {
    margin: auto 0px auto 50px;
  }

  .padding {
    min-width: 50px;
    height: 10px;
  }
}


.card {
  display: flex;
  height: 420px;
  min-width: 270px;
  box-shadow: var(--card-shadow);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all ease 0.65s;

  img {
    height: 100%;
    width: 100%;
    transition: 0.65s;
  }

  .card-details {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    height: 0%;
    width: calc(100% - 60px);
    background-image: var(--card-gradient);
    transition: 0.65s;
    opacity: 0.3;
    padding: 0px 30px;

    .text-holder{
      
      width: calc(100% - 70px);

      .title{
        color: var(--white);
        font-weight: 600;
        font-family: var(--font-reg);
        line-height: 38px;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
      }
  
      .subtitle{
        color: var(--gray);
        font-weight: 200;
        font-family: var(--font-reg);
        font-size: 12px;
  
        span{
          font-weight: 700;
          color: var(--red);
        }
      }
    }

    .arrow-holder{
      width: 60px;
      height: 60px;
      position: relative;

      .red-dot {
        margin-top: 32.5px;
        margin-left: 35px;
        height: 25px;
        width: 25px;
        background-color: var(--red);
        border-radius: 100%;
      }

      img{
        position: absolute;
        right: -25px;
        top: 35px;
        height: 25px;
        width: 50px;
      }
    }
    
    &:hover{
      img{
        transition: all 1s ease-in-out;
        animation: juggle 1.5s infinite;
      }
    }
  }

  &:hover {
    height: 480px;
    min-width: 310px;
    box-shadow: 0 0px 30px #00000054;
    .card-details {
      height: calc(25% - 50px);
      padding: 20px 30px;
      opacity: 1;
    }
    @media screen and (max-height: 800px) {
      height: 440px;
      min-width: 285px;
    }
  }
}

.search-res{
  padding: 50px 0px;

  .card{
    &:hover {
      height: 420px;
      min-width: 270px;
      box-shadow: 0 0px 30px #00000054;
      .card-details {
        height: calc(25% - 50px);
        padding: 20px 30px;
        opacity: 1;
      }
      @media screen and (max-height: 800px) {
        height: 420px;
        min-width: 270px;
      }
    }
  }
}

.slider-controller {
  display: flex;
  height: 100px;
  width: calc(100% - 100px);
}

.bar {
  height: 3px;
  width: 20px;
  border: none;
  border-radius: 360px;
  background-color: var(--hash);
  opacity: 0.25;
}

.lt-arrow {
  margin: 20px 50px auto 0px;
  cursor: pointer;
  &:hover .bar {
    background-color: var(--red);
    opacity: 1;
  }
  .bar1 {
    transform: rotate(135deg);
  }
  .bar2 {
    transform: rotate(45deg);
    margin-top: 10px;
  }
}

.rt-arrow {
  cursor: pointer;
  margin: 20px 0px auto 0px;
  &:hover .bar {
    background-color: var(--red);
    opacity: 1;
  }
  .bar1 {
    transform: rotate(45deg);
  }
  .bar2 {
    transform: rotate(135deg);
    margin-top: 10px;
  }
}

//animation 
@keyframes juggle{
  0%{
    right: -25px;
  }
  50%{
    right: -22px;
  }
  100%{
    right: -25px;
  }
}


.search-input {
  height: 40px;
  width: 180px;
  margin: auto 0px;
  border: none;
  outline: none;
  border-radius: 25px 0px 0px 25px;
  padding: 0px 5px 0px 25px;
  background: var(--gray);
  font-family: var(--font-reg);

  &:focus {
    border: none;
    outline: none;
  }

}

.search-iconbox{
  height: 20px;
  width: 30px;
  margin: auto 0px;
  border: none;
  outline: none;
  border-radius: 0px 25px 25px 0px;
  padding: 10px 5px;
  background: var(--gray);
  font-family: var(--font-reg);

  &:focus {
    border: none;
    outline: none;
  }

  img{
    cursor: pointer;
  }
}

.pagination{
    padding-bottom: 50px;
    button{
      padding: 16px 38px;
      font-size: 16px;
      border-radius: 5px;
      font-weight: 700;
      font-family: var(--font-reg);
      background-color: var(--white);
      border: none;
      outline: none;
      box-shadow: var(--card-shadow);
      cursor: pointer;

      &:last-of-type{
        margin-left: 35px;
      }

      &:hover{
        background-color: var(--red);
        color: var(--white);
      }

      &.disabled{
        background-color: var(--hash);
        color: var(--black);
      }
    }
}

//Details Page
.detail-sec{
  padding-top: 50px;

  .flex{

    div:nth-of-type(2){
      max-width: 60%  ;
    }

    h1{
      font-size: 36px;
    }

    h3{
      font-size: 14px;
      color: var(--hash);
      font-weight: 400;
      span{
        color: var(--red);
        font-weight: 600;
      }
    }

    p:nth-of-type(1){
      font-size: 14px;
      color: var(--hash);
      span{
        font-size: 18px;
        color: var(--black);
        font-weight: 700;
      } 
    }

    p:nth-of-type(2){
      font-size: 16px;
      span{
        font-size: 18px;
        font-weight: 700;
      } 
    }
    p:nth-of-type(3){
      font-size: 16px;
      color: var(--black);
      font-weight: 400; 
    }
  }

}

.d-card{
  display: flex;
  height: 520px;
  min-width: 340px;
  box-shadow: var(--card-shadow);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-right: 50px;
  cursor: pointer;

  img {
    height: 100%;
    width: 100%;
    transition: 0.65s;
  }

}