.container {
  margin-left: 50px;
  margin-right: 50px;
}

.flex {
  display: flex;
}

.mini-dash {
  height: 1px;
  width: 60px;
  background: var(--hash);
  margin-top: 10px;
  opacity: 0.5;
}

.slider-container {
  display: flex;
  flex-wrap: nowrap;
  height: calc(100vh - 305px);
  min-height: calc(800px - 305px);
  overflow-x: scroll;
  overflow-y: visible;
  transition: ease 0.5s;
  position: relative;

  // To make scroll invisible
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome */
  }

  .card {
    margin: auto 0px auto 50px;
  }

  .padding {
    min-width: 50px;
    height: 10px;
  }
}

.card {
  display: flex;
  height: 420px;
  min-width: 270px;
  box-shadow: var(--card-shadow);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all ease 0.65s;

  img {
    height: 100%;
    width: 100%;
    transition: 0.65s;
  }

  .card-details {
    position: absolute;
    bottom: 0px;
    height: 0%;
    width: 100%;
    background-image: var(--card-gradient);
    transition: 0.65s;
    opacity: 0.3;
  }

  &:hover {
    height: 480px;
    min-width: 310px;
    box-shadow: 0 0px 30px #00000054;
    .card-details {
      height: 25%;
      opacity: 1;
    }
    @media screen and (max-height: 800px) {
      height: 440px;
      min-width: 285px;
    }
  }
}

.slider-controller {
  display: flex;
  height: 100px;
  width: calc(100% - 100px);
}

.bar {
  height: 3px;
  width: 20px;
  border: none;
  border-radius: 360px;
  background-color: var(--hash);
  opacity: 0.25;
}

.lt-arrow {
  margin: 20px 50px auto 0px;
  cursor: pointer;
  &:hover .bar {
    background-color: var(--red);
    opacity: 1;
  }
  .bar1 {
    transform: rotate(135deg);
  }
  .bar2 {
    transform: rotate(45deg);
    margin-top: 10px;
  }
}

.rt-arrow {
  cursor: pointer;
  margin: 20px 0px auto 0px;
  &:hover .bar {
    background-color: var(--red);
    opacity: 1;
  }
  .bar1 {
    transform: rotate(45deg);
  }
  .bar2 {
    transform: rotate(135deg);
    margin-top: 10px;
  }
}
