.container {
  margin-left: 50px;
  margin-right: 50px;
}

.flex {
  display: flex;
}

.mini-dash {
  height: 1px;
  width: 60px;
  background: var(--hash);
  margin-top: 10px;
  opacity: 0.5;
}

.slider-container {
  display: flex;
  flex-wrap: nowrap;
  height: calc(100vh - 305px);
  min-height: calc(800px - 305px);
  overflow-x: scroll;
  overflow-y: visible;
  transition: ease 0.5s;
  position: relative;

  // To make scroll invisible
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome */
  }

  .card {
    margin: auto 0px auto 50px;
  }

  .padding {
    min-width: 50px;
    height: 10px;
  }
}

.card {
  display: flex;
  height: 420px;
  min-width: 270px;
  box-shadow: var(--card-shadow);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all ease 0.65s;

  img {
    height: 100%;
    width: 100%;
    transition: 0.65s;
  }

  .card-details {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
    height: 0%;
    width: calc(100% - 60px);
    background-image: var(--card-gradient);
    transition: 0.65s;
    opacity: 0.3;
    padding: 0px 30px;

    .text-holder{
      
      width: calc(100% - 70px);

      .title{
        color: var(--white);
        font-weight: 600;
        font-family: var(--font-reg);
        line-height: 38px;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
      }
  
      .subtitle{
        color: var(--gray);
        font-weight: 200;
        font-family: var(--font-reg);
        font-size: 12px;
  
        span{
          font-weight: 700;
          color: var(--red);
        }
      }
    }

    .arrow-holder{
      width: 60px;
      height: 60px;
      position: relative;

      .red-dot {
        margin-top: 32.5px;
        margin-left: 35px;
        height: 25px;
        width: 25px;
        background-color: var(--red);
        border-radius: 100%;
      }

      img{
        position: absolute;
        right: -15px;
        top: 30px;
        height: 60%;
        width: 50%;
      }
    }
    
    &:hover{
      img{
        transition: all 1s ease-in-out;
        animation: juggle 1.5s infinite;
      }
    }
  }

  &:hover {
    height: 480px;
    min-width: 310px;
    box-shadow: 0 0px 30px #00000054;
    .card-details {
      height: calc(25% - 50px);
      padding: 20px 30px;
      opacity: 1;
    }
    @media screen and (max-height: 800px) {
      height: 440px;
      min-width: 285px;
    }
  }
}

.slider-controller {
  display: flex;
  height: 100px;
  width: calc(100% - 100px);
}

.bar {
  height: 3px;
  width: 20px;
  border: none;
  border-radius: 360px;
  background-color: var(--hash);
  opacity: 0.25;
}

.lt-arrow {
  margin: 20px 50px auto 0px;
  cursor: pointer;
  &:hover .bar {
    background-color: var(--red);
    opacity: 1;
  }
  .bar1 {
    transform: rotate(135deg);
  }
  .bar2 {
    transform: rotate(45deg);
    margin-top: 10px;
  }
}

.rt-arrow {
  cursor: pointer;
  margin: 20px 0px auto 0px;
  &:hover .bar {
    background-color: var(--red);
    opacity: 1;
  }
  .bar1 {
    transform: rotate(45deg);
  }
  .bar2 {
    transform: rotate(135deg);
    margin-top: 10px;
  }
}

//animation 
@keyframes juggle{
  0%{
    right: -15px;
  }
  50%{
    right: -10px;
  }
  100%{
    right: -15px;
  }
}

